/* !colors */
:root{
    --blue: #173460;
    --orange: #f4633a;
    --hover: #ffffff22;
    --p: #ffffffcc;
}

/* font-family: 'Allison', cursive;
font-family: 'Almarai', sans-serif;
font-family: 'Urbanist', sans-serif; */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

html{
    font-size: calc(60% + 0.8vmin);
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    user-select: none;
    transition: filter 1s, background-color 1s;
}

body{
    font-family: 'Almarai', sans-serif;
    background-color: #000;
    opacity: 0;
    transition: opacity 1s, filter 3s;
}

.blur-effect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 6;
    backdrop-filter: blur(5px);
    display: none;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

@keyframes opacity-blur-ineffect-animation {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes opacity-blur-outeffect-animation {
    from{opacity: 1;}
    to{opacity: 0;}
}

::selection{
    background-color: var(--orange);
    /* color: var(--orange); */
}




/* !home page */
#home{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all .5s;
    background-color: #00000066;
}

#bg1, #bg2, #bg3{
    width: 100%;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: -5;
}

#bg1{
    opacity: 1;
}

#bg2, #bg3{
    opacity: 0;
}

.close{
    transition: all 2s;
    filter: blur(2px);
    opacity: 0 !important;
}

.open{
    transition: all 2s;
    filter: blur(0px);
    opacity: 1 !important;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 14rem;
    /* transition: all .5s; */
    margin: 1rem;
}

#home nav{
    position: absolute;
    top: 9.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: top .5s;
    z-index: 5;
}

#home nav ul{
    display: flex;
    margin: .5rem;
}

#home nav a{
    margin: 0 1rem;
    color: var(--p);
    transition: background-color .5s, color .5s;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    z-index: 2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

#home nav a:hover{
    background-color: var(--hover);
    color: #fff;
}

#line1, #line2{
    margin: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border: none;
    width: 32rem;
    height: 2px;
}

#language{
    /* background-color: #fff; */
    width: 12rem;
    height: 3rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}

#language-icon{
    color: var(--p);
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    border-radius: 50%;
    transition: background-color .5s, color .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#language-icon span{
    font-size: 2rem;
}

#language-icon:hover{
    background-color: var(--hover);
    color: #fff;
}

#language-change{
    background-color: var(--hover);
    border-radius: 20px;
    height: 2rem;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
    font-weight: 900;
}

#language-change a{
    margin: .6rem;
    color: #fff;
}

#text{
    color: #fff;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
    top: 8rem;
    user-select: text;
}

#text-company-name{
    width: fit-content;
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 2.5px;
    color: #ffffff57;
    border: solid 1px;
    border-top: none;
    border-radius: 10px 10px 20px 20px;
    padding: 1rem;
    transition: backdrop-filter 1s;
    margin: auto;

    -webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(255,255,255) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 1s;

}

.animation-class{
    animation: text-company-name-animation 3s ease-in-out;
}

@keyframes text-company-name-animation {
    100%{
        background-position: 100%;
    }
}

#text-company-name:hover{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

#text-company-name span{
    color: #ffffff57;
    transition: color 1s;
}

.sentences{
    margin: 3rem;
    font-size: 3.5rem;
    font-family: 'Allison', cursive;
}




/* ! services page */
#services{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#services-logo{
    width: 13rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
}

#services-part1, #services-part2, #services-part3{
    position: absolute;
    width: 20rem;
    height: 12rem;
    border-radius: 30px;
    background-color: #ffffffdd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;

    -webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);

    transition: all .4s;
}

#services-part1:hover, #services-part2:hover, #services-part3:hover{
    transform: scale(1.06);
}

.services-text{
    background-color: #00000066;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

#services-part1{
    color: var(--orange);
    margin-right: 38rem;
    margin-bottom: 15rem;
    background: url("../img/services1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#services-part2{
    color: #fff;
    margin-right: 38rem;
    margin-top: 15rem;
    background: url("../img/services2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 7;
}

#services-part3{
    color: #408cff;
    margin-left: 38rem;
    background: url("../img/services3.jfif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}




/* ! services windows */
#services-window{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    z-index: -1;
    filter: none !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.services-window.one, .services-window.two, .services-window.three{
    width: 50%;
    height: 90vh;
    z-index: 999 !important;
    filter: none !important;
    background-color: #000000aa;
    border-radius: 20px;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0);
    transition: transform .5s;

    position: absolute;
}

.services-window.one span, .services-window.two span, .services-window.three span{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: var(--p);
    cursor: pointer;
    transition: all .2s;
    padding: .5rem;
    border-radius: 50%;
}

.services-window span:hover{
    background-color: var(--hover);
}

.services-window.one h2, .services-window.two h2, .services-window.three h2{
    color: var(--orange);
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 1rem;
}

.services-window.two h2{
    color: #fff;
}

.services-window.three h2{
    color: #408cff;
}

.swiper-container{
    width: 40rem;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.services-slider-img{
    width: 100%;
    height: 30rem;
}

.services-slider-text{
    position: absolute;
    background-color: #000000aa;
    padding: .8rem;
    border-radius: 30px;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    line-height: 3.5rem;
}




/* ! about us page */
#about-us{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    visibility: hidden;
}

#about-us-window{
    position: relative;
    width: 55rem;
    height: 35rem;
    margin-top: 9rem;
    border-radius: 20px;
    background-color: #000000aa;
}

#about-us-window-bg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#about-us-window-right, #about-us-window-left{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#about-us-window-right{
    background-color: #000000dd;
    right: 0;
}

#about-us-window-right p{
    color: #fff;
    font-size: 1.2rem;
    line-height: 3rem;
    user-select: text;
}

#about-us-window-left{
    left: 0;
}

#about-us-window-left img{
    width: 20rem;
    padding: .5rem;
    border-radius: 20px;
    background: rgb(64,140,255);
    background: linear-gradient(16deg, rgba(64,140,255, 0.8) 0%, rgba(0,0,0, 0.8) 50%, rgba(134, 52, 29, 0.8) 100%);
}




/* ! contact us page */
#contact-us{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: text;
    visibility: hidden;
}

#contact-us-phone, #contact-us-location, #contact-us-social{
    width: 20rem;
    height: 20rem;
    /* background-color: #ffffffaa; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    color: #fff;
    line-height: 2.5rem;
    font-size: 1.4rem;
    position: relative;
    padding: .5rem;
    text-align: center;

    background: rgb(64,140,255);
    background: linear-gradient(16deg, rgba(64,140,255, 0.8) 0%, rgba(0,0,0, 0.8) 50%, rgba(134, 52, 29, 0.8) 100%);
}

.contact-us-social-icon{
    color: var(--orange);
    font-size: 3rem;
    position: absolute;
    top: 1rem;
}

#contact-us a{
    color: #fff;
    text-decoration: none;
}

#contact-us address{
    font-style: normal;
    text-decoration: none;
}


/* ! footer */
#footer{
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
}

#footer #footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 1.2rem;
}


/* ! mobile nav */
#mobile-nav{
    transition: left .5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    z-index: 999;
}

.line{
    margin: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border: none;
    width: 10rem;
    height: 2px;
}

#nav-mobile-close{
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;
}

#mobile-nav a{
    color: var(--p);
    font-size: 1.5rem;
    font-weight: 900;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobile-nav > a,.line{
    margin: 1.2rem;
}

#nav-mobile-open{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    color: #fff;
    border-radius: 50%;
    padding: .5rem;
    display: none;
    z-index: 6;
}



/* ! mobile style */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .logo-img{
        width: 15rem;
        margin: 1rem;
    }

    #home nav{
        display: none !important;
    }

    #nav-mobile-open{
        display: block;
    }

    #language{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1.7rem;
        width: 5rem;
        height: 12rem;
    }

    #language-icon{
        color: #fff;
        padding: 0;
        width: 4rem;
        height: 5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #language-icon span{
        font-size: 2.5rem;
    }

    #language-change{
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #language-change a{
        margin: 1rem;
        color: #fff;
    }

    #text{
        color: #fff;
        display: grid;
        place-content: center;
        text-align: center;
        position: relative;
        top: 8rem;
        user-select: text;
    }

    #text-company-name{
        font-size: 3rem;
    }

    
    #services-logo{
        width: 13rem;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #services-logo img{
        display: none;
    }
    
    #services-part1, #services-part2, #services-part3{
        position: relative;
        flex-direction: column;
    
        transition: all .4s;
        margin: 1rem !important;
    }

    
    .services-window.one, .services-window.two, .services-window.three{
        width: 100%;
        height: 100vh;
        z-index: 999 !important;
        filter: none !important;
        background-color: #000000aa;
        border-radius: 0;
        padding: 1rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .services-window.one span, .services-window.two span, .services-window.three span{
        font-size: 3rem;
        background-color: var(--hover);
    }
    
    .swiper-container{
        width: 30rem;
    }

    
    #about-us-window-right{
        background-color: #000000dd;
        right: 0;
        width: 100%;
    }
    
    #about-us-window-left{
        left: 0;
        display: none;
    }


    #contact-us{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #contact-us-phone, #contact-us-location, #contact-us-social{
        width: 20rem;
        height: 20rem;
        /* background-color: #ffffffaa; */
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        color: #fff;
        line-height: 2.5rem;
        font-size: 1.4rem;
        position: relative;
        padding: .5rem;
        text-align: center;
    
        background: rgb(64,140,255);
        background: linear-gradient(16deg, rgba(64,140,255, 0.8) 0%, rgba(0,0,0, 0.8) 50%, rgba(134, 52, 29, 0.8) 100%);
    }
    
    .contact-us-social-icon{
        color: var(--orange);
        font-size: 3rem;
        position: absolute;
        top: 1rem;
    }
    
    #contact-us a{
        color: #fff;
        text-decoration: none;
    }
    
    #contact-us address{
        font-style: normal;
        text-decoration: none;
    }
}