/* !colors */
:root{
    --blue: #173460;
    --orange: #f4633a;
    --hover: #ffffff22;
    --p: #ffffffcc;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    opacity: 0;
    transition: opacity 1s;
}

::selection{
    background-color: var(--orange);
    /* color: var(--orange); */
}


/* !home page */
#home{
    width: 100%;
    height: 100vh;
    transition: all .5s;
    background-color: #00000066;
}

#bg1, #bg2, #bg3{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
}

#bg1{
    opacity: 1;
}

#bg2, #bg3{
    opacity: 0;
}

.close{
    transition: all 2s;
    filter: blur(2px);
    opacity: 0 !important;
}

.open{
    transition: all 2s;
    filter: blur(0px);
    opacity: 1 !important;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 14rem;
    /* transition: all .5s; */
    margin: 1rem;
}

#home nav{
    position: absolute;
    top: 9.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: top .5s;
    border-radius: 10px;
    z-index: 999;
}

#home nav ul{
    display: flex;
    margin: .5rem;
}

#home nav a{
    margin: 0 1rem;
    color: var(--p);
    transition: background-color .5s, color .5s;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    z-index: 2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}

#home nav a:hover{
    background-color: var(--hover);
    color: #fff;
}

#line1, #line2{
    margin: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border: none;
    width: 32rem;
    height: 2px;
}

#language{
    /* background-color: #fff; */
    width: 12rem;
    height: 2.5rem;
    position: fixed;
    top: 2.8rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 999;
}

#language-icon{
    position: fixed;
    top: 2.8rem;
    right: 2rem;
    color: var(--p);
    cursor: pointer;
    padding: .5rem;
    transition: background-color .5s, color .5s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#language-icon span{
    font-size: 1.6rem;
}

#language-icon:hover{
    background-color: var(--hover);
    color: #fff;
}

#language-change{
    position: fixed;
    top: 3rem;
    right: 5.5rem;
    background-color: var(--hover);
    border-radius: 20px;
    height: 2rem;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
    font-weight: 900;
}

#language-change a{
    margin: .6rem;
    color: #fff;
}

#text{
    color: #fff;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;
    top: 10rem;
    user-select: text;
}

#text-company-name{
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: -1px;
    color: #ffffff57;
    border: solid 1px;
    border-top: none;
    border-radius: 10px 10px 20px 20px;
    padding: 1rem;
    transition: backdrop-filter 1s;

    -webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(255,255,255) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-size: 200% 100%;
    background-position: 10%;
    transition: all 1s;

}

.animation-class{
    animation: text-company-name-animation 3s ease-in-out;
}

@keyframes text-company-name-animation {
    100%{
        background-position: -100%;
    }
}

#text-company-name:hover{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

#text-company-name span{
    color: #ffffff57;
    transition: color 1s;
}

.sentences{
    margin: 3rem;
    font-size: 1.5rem;
}

#down-link{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
    transition: transform .5s;
}

#down-link{
    z-index: 999;
}

#down-icon{
    color: var(--p);
    font-size: 1.7rem;
    position: fixed;
    bottom: 0;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s, color .5s;
    border-radius: 50%;
    z-index: 999;
}

#down-icon i{
    transition: transform .4s;
}

#down-icon:hover{
    background-color: var(--hover);
    color: #fff;
}


/* ! services page */
#services{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#services-logo{
    width: 18rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services1, #services2, #services3{
    position: absolute;
    width: 10rem;
    height: 12rem;
    border-radius: 20px;
    background-color: #00000066;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;

    -webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    
}

#services1{
    background-color: var(--orange);
    /* color: var(--orange); */
    margin-right: 32rem;
    margin-bottom: 15rem;
}

#services2{
    background-color: #fff;
    /* color: #fff; */
    margin-right: 32rem;
    margin-top: 15rem;
}

#services3{
    background-color: var(--blue);
    /* color: var(--blue); */
    margin-left: 35rem;
    /* margin-top: 3rem; */
    height: 27rem;
}










#footer{
    width: 100%;
    height: 100vh;
}